/* Misc */

.small-column {
    min-width: 30px;
    max-width: 80px;
}

.medium-column {
    min-width: 150px;
    max-width: 175px;
}

.large-column {
    min-width: 250px;
    max-width:300px;
}

.extra-large-column {
    min-width: 400px;
    max-width: 500px;
}

.expand-on-hover:hover {
    white-space: initial;
}

.hide {
    display: none;
    visibility: hidden;
}

/* Home Page */

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    overflow-x: hidden;
}

.half {
    width: 50%;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    color: white;
    background-color: black;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    image-rendering: pixelated;
    width: 500px;
    height: auto;
}

/* Grids */

.white {
    background-color: white;
}

.grey {
    background-color: #eceaea;
}

.margin {
    margin: 20px;
}

.datatable {
    table-layout: fixed;
    border: 1px solid #d7d7d7;
}

.table-container {
    width: 80%;
    overflow-x: auto;
}

.data-row {
    white-space: nowrap;
}

.datatable td, .datatable th {
    padding: 5px;
    border: 1px solid #d7d7d7;
    border-top: none;
    border-bottom: none;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.data-row:hover {
    background-color: #bceaad;
}

.selected-row {
    border: 2px solid #519828;
    background-color: #bceaad;
}

.hide-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-pane {
    padding: 20px;
    width: 20%;
    right: 0;
    height: 100%;
    position: absolute;
}

.form-control-aligned {
    display: inline-block !important;
    width: 80% !important;
}

.aligned-form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-numbers {
    white-space: nowrap;
}

#previewImage {
    width: 100%;
    padding: 10px;
}