/* Misc */

.small-column {
    width: 80px;
}

.medium-column {
    width: 140px;
}

.large-column {
    width: 220px;
}

.hide {
    display: none;
    visibility: hidden;
}

/* Home Page */

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    overflow-x: hidden;
}

.half {
    width: 50%;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    color: white;
    background-color: black;
}

.centred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    image-rendering: pixelated;
    width: 500px;
    height: auto;
}

/* Grids */

.white {
    background-color: white;
}

.grey {
    background-color: #eceaea;
}

.margin {
    margin: 20px;
}

.datatable {
    width: 80%;
    table-layout: fixed;
    overflow-x: scroll;
    border: 1px solid #eceaea;
}

.datatable td, .datatable th {
    padding: 8px;
}

.datatable tr:hover {
    background-color: #f1a6a6;
}

.selected-row {
    border: 2px solid #75b8ef;
}

.side-pane {
    padding: 20px;
    width: 20%;
    right: 0;
    height: 100%
}

.side-pane td {
    padding: 5px;
}